body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-wrapper {
    text-align: center;
    color: white;
    background-image: linear-gradient(37deg, rgb(185, 160, 77), rgb(5, 165, 0));
    padding: 1em;
}

.top-wrapper h1, .top-wrapper p {
    text-shadow: 1px 1px 5px black;
}

.footer {
    background-color: moccasin;
    color: black;
    height: 100%;
    padding: 30px;
    padding-bottom: 30px;
}
  
.footer-logo {
    position: relative;
    max-width: 10%;
    float: left;
    margin-right: 30px;
    margin: 10px;
}

.footer-motto{
    width: 100%;
}

.footer-motto h4{
    float:center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

.footer-list {
    float: left;
}

.footer-list li {
    list-style-type: none;
    padding: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
    border-radius: 50%;
}

.footer-logo:hover .overlay {
    opacity: 1;
}

.text {
    color: silver;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
