body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-wrapper {
    text-align: center;
    color: white;
    background-image: linear-gradient(37deg, rgb(158, 158, 57), rgb(90, 128, 0));
    padding: 1em;
}

.top-wrapper h1, p {
    text-shadow: 1px 1px 5px black;
}

.footer{
    background-color: moccasin;
    color: black;
    height: 120px;
    padding: 40px;
}
  
.footer-logo img{
    border-radius: 50%;
    filter: grayscale(50%);
    max-width: 10%;
    float: left;
    bottom: 10px;
}
.footer-motto {
    float: top;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-list {
    float: left;
}

.footer-list li {
    list-style-type: none;
    padding-bottom: 20px;
}
