header{
    height: 90px;
    color:white;
    background-color: greenyellow;
}
li{
    text-decoration: none;
    list-style: none;

}
.Header-Left{
    float: left;
}
.Header-List{
    float: right;
}
.Header-List li{
    float: left;
    padding: 30px 20px;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-wrapper {
    text-align: center;
    color: white;
    background-image: linear-gradient(37deg, rgb(185, 160, 77), rgb(5, 165, 0));
    padding: 1em;
}

.top-wrapper h1, .top-wrapper p {
    text-shadow: 1px 1px 5px black;
}

.footer {
    background-color: moccasin;
    color: black;
    height: 100%;
    padding: 30px;
    padding-bottom: 30px;
}
  
.footer-logo {
    position: relative;
    max-width: 10%;
    float: left;
    margin-right: 30px;
    margin: 10px;
}

.footer-motto{
    width: 100%;
}

.footer-motto h4{
    float:center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

.footer-list {
    float: left;
}

.footer-list li {
    list-style-type: none;
    padding: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
    border-radius: 50%;
}

.footer-logo:hover .overlay {
    opacity: 1;
}

.text {
    color: silver;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}  

.heading h3 {
    font-weight: normal;
}
  
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
}  
  
.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}
  
.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.container2{
    width: 1000px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border:1px solid black; */
}

/* .container2 img{
    width: 200px;
    cursor: pointer;
    filter: grayscale(100%);
    padding-top: 20px;
    padding-bottom: 20px; 
} */

.kfcc{
    width: 150px;
    cursor:pointer;
    filter: grayscale(100%);
    padding-top: 25px;
    padding-bottom: 25px;
}
.brr{
    width: 150px;
    cursor:pointer;
    filter: grayscale(100%);
    padding-bottom: 43px;
    margin-left: 15px;
    margin-right: 15px;
}
.kk{
    width: 150px;
    cursor:pointer;
    filter: grayscale(100%);
    padding-bottom: 38px;
}

.container2 img:hover{
    filter: grayscale(0);
}

.menu-wrapper{
    text-align: center;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu{
    width: 25%;   
}

.menu-icon{
    overflow: hidden;
}

.menu-pic{
    height: 250px;
    width: 250px;
    object-fit: cover;
    filter: brightness(60%);
    transition: transform 0.5s ease;
    border: 1px;
}

.menu-pic:hover {
    transform: scale(1.5);
}

.menu-icon{
    position: relative;
}
  
.menu-icon p{
    position: absolute;
    top: 40%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.txt-contents{
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: black;
  }

/* Responsive Page */

@media (max-width:1000px){
    
}

@media (max-width:670px){

}
